html {
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.25;
}

body {
  font-size: 100%;
  margin: 2rem;
}

img {
  max-width: 100%;
}

body > header {
  background-color: #333;
  color: #fff;
  margin: -2rem -2rem 0;
  padding: 2rem;
}

body > header > * {
  margin: 0;
}

section + section {
  margin-block-start: 4rem;
}

.example {
  border: 1px solid #ccc;
  padding: 1rem;
}

.example + .example {
  margin-block-start: 2rem;
}

/* Widths exercise */
.container {
  background-color: #82bffb;
  max-width: 40rem;
  padding: 2rem 0;
  position: relative;
  text-align: center;
}

.container blockquote {
  background-color: white;
  color: black;
  text-align: center;
  padding: 2rem;
  display: block;
  border-radius: 1rem;
  margin: 0 auto;
}

.container p {
  margin: 0;
}

.container::before,
.container::after {
  font-size: 4rem;
  width: 4rem;
  height: 4rem;
  line-height: 1;
  position: absolute;
}

.container::before {
  left: 1rem;
  top: 2rem;
  text-align: right;
}

.container::after {
  right: 1rem;
  bottom: 2rem;
  text-align: left;
}

.container:nth-of-type(1)::before {
  content: "🏹";
}

.container:nth-of-type(1)::after {
  content: "🍌";
}

.container:nth-of-type(2)::before {
  content: "🏃‍♂️";
}

.container:nth-of-type(2)::after {
  content: "⚡️";
}

/* Ratios exercise */
.ratio {
  position: relative;
  height: 0;
  background-color: black;
  padding: 0;
  margin: 2rem 0;
}

.ratio figcaption {
  background-color: rgba(255,255,255,.5);
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0.25rem 0.5rem;
}

.ratio div {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
}

#ratio_16_9 div {
  background-image: url('https://placehold.it/800x450');
}

#ratio_4_3 div {
  background-image: url('https://placehold.it/800x600');
}

#ratio_2_1 div {
  background-image: url('https://placehold.it/800x400');
}

#ratio_1_1 div {
  background-image: url('https://placehold.it/800x800');
}
