
body {
  border: 1px dimgray solid;
  display: table ;
  width: 600px;
}

main {
  margin: 0.5rem;
}

header {
  display: table-header-group;
}

section {
  padding-block-start: 2rem;
  display: table-row-group;
}

section > p {
  padding-left: 12rem;
  margin-left: 2rem;
}

section > h2 {
  font-size: 1rem;
  display: table-cell;
   position: absolute;
}

section:nth-child(2) > h2 {
  padding-block-start: 3rem;
  padding-block-end: 3rem;
  padding-left: 8rem;
}

section:nth-child(3) > h2 {
padding-block-start: 2.45rem;
padding-block-end: 2.45rem;
padding-left: 8.2rem
}

section:nth-child(4) > h2 {
  padding-block-start: 6.3rem;
  padding-block-end: 6.3rem;
  padding-left: 7.5rem;
}

footer {
  display: table-footer-group;
}

