body {
  padding: 0;
}

#cloud-1 {
  background-image: url("../images/cloud.svg");
  width: 50px;
  height: 40%;
  background-repeat: no-repeat;
}

#cloud-2 {
  background-image: url("../images/cloud.svg");
  width: 50px;
  height: 45px;
  background-repeat: no-repeat;
}

#sun {
  background-image: url("../images/sun.svg");
  background-repeat: no-repeat;
}

#house-1 {
  background-image: url("../images/house-1.svg");
  width: 80px;
  height: 80px;
}

#house-2 {
  background-image: url("../images/house-2.svg");
  width: 56px;
  height: 56px;
}

#tree {
  background-image: url("../images/tree.svg");
}

#palm {
  background-image: url("../images/palm-tree.svg");
}

#car {
  background-image: url("../images/car.svg");
  width: 70px;
  height: 70px;
  background-repeat: no-repeat;
}
