/* Set up */
.columns > * {
  padding: 1rem;
  color: #fff;
  background-color: rgba(var(--article-elem-color), var(--article-bg-transparency));
}

.columns > * * {
  background-color: inherit;
  margin: 0;
  padding: inherit;
}

.columns article {
  --article-elem-color: 63, 191, 63;
}

.columns aside {
  --article-elem-color: 191, 63, 63;
}

/* 7 */
[data-example="7"] {

}

/* 8 */
[data-example="8"] {

}

/* 9 */
[data-example="9"] {

}
