/* Set up */
.columns > * {
  padding: 1rem;
  color: #fff;
  background-color: rgba(var(--article-elem-color), var(--article-bg-transparency));
}

.columns > * * {
  background-color: inherit;
  margin: 0;
  padding: inherit;
}

.columns article {
  --article-elem-color: 63, 191, 63;
}

.columns aside {
  --article-elem-color: 191, 63, 63;
}

/* 7 */
[data-example="7"] .columns{
  display: grid;
  grid-template-columns: repeat(2, 2fr);
  grid-gap: 1rem;
}

[data-example="7"] p {
  margin-block-end: 5rem;
}

/*
[data-example="7"] aside,
[data-example="7"] article{
  padding-block-end: 4rem;
}
*/

/* 8 */
[data-example="8"] .columns{
  display: flex;
  justify-content: space-between;
  height: 165px;
}

[data-example="8"] article,
[data-example="8"] aside {
}

[data-example="8"] {

}

[data-example="8"] {

}
/* 9 */
[data-example="9"] {
columns: 2;
}

[data-example="9"] aside,
[data-example="9"] article{
  height: 130px;
}

[data-example="9"] {

}
