/*
#c_and_i .row a                 { background-color: hsla(200deg, 100%, 50%, 0.1);}
#c_and_i .row a + a             { background-color: hsla(200deg, 100%, 50%, 0.2);}
#c_and_i .row a + a + a         { background-color: hsla(200deg, 100%, 50%, 0.3);}
#c_and_i .row a + a + a + a     { background-color: hsla(200deg, 100%, 50%, 0.4);}
#c_and_i .row a + a + a + a + a { background-color: hsla(200deg, 100%, 50%, 0.5);}

/*
  … etc …

  This would get crazy if I had to write out each and every anchor within each row, setting the unique ` hsla()` per anchor.
*/
:root {
  /*
  --orange:hsl(36deg, 100%, 50%);
  --yellow:hsl(72deg,100%, 50%);
  --green:hsl(108deg, 100%, 50%);
  --green-yellow: hsl(144deg, 100%, 50%);
  --aqua: hsl(180deg, 100%, 50%);
  --light-blue: hsl(216deg, 100%, 50%);
  --blue: hsl(252deg, 100%, 50%);
  --purple:hsl(288deg, 100%, 50%);
  --pink:hsl(324deg, 100%, 50%);
  --red: hsl(360deg, 100%, 50%);
  */
  --base-hue: 36deg;
  --base-opacity: 0.1;
  --base-saturation: 100%;
  --base-lightness: 50%;
}

.table > .row > a:nth-of-type(1) {
  --alpha-multiplier: 1;
}

.table > .row > a:nth-of-type(2) {
  --alpha-multiplier: 2;
}

.table > .row > a:nth-of-type(3) {
  --alpha-multiplier: 3;
}

.table > .row > a:nth-of-type(4) {
  --alpha-multiplier: 4;
}

.table > .row > a:nth-of-type(5) {
  --alpha-multiplier: 5;
}

.table > .row > a:nth-of-type(6) {
  --alpha-multiplier: 6;
}

.table > .row > a:nth-of-type(7) {
  --alpha-multiplier: 7;
}

.table > .row > a:nth-of-type(8) {
  --alpha-multiplier: 8;
}

.table > .row > a:nth-of-type(9) {
  --alpha-multiplier: 9;
}

.table > .row > a:nth-of-type(10) {
  --alpha-multiplier: 10;
}

.row a {
  --hue: calc(var(--hue-multiplier) * var(--base-hue));
  --alpha: calc(var(--alpha-multiplier) * var(--base-opacity));
  background-color: hsla(
    var(--hue),
    var(--base-saturation),
    var(--base-lightness),
    var(--alpha)
    );
}


.table > .row:nth-of-type(1) {
--hue-multiplier: 1;
}

.table > .row:nth-of-type(2) {
  --hue-multiplier: 2;
}

.table > .row:nth-of-type(3) {
  --hue-multiplier: 3;
}

.table > .row:nth-of-type(4) {
  --hue-multiplier: 4;
}

.table > .row:nth-of-type(5) {
  --hue-multiplier: 5;
}

.table > .row:nth-of-type(6) {
  --hue-multiplier: 6;
}

.table > .row:nth-of-type(7) {
  --hue-multiplier: 7;
}

.table > .row:nth-of-type(8) {
  --hue-multiplier: 8;
}

.table > .row:nth-of-type(9) {
  --hue-multiplier: 9;
}

.table > .row:nth-of-type(10) {
  --hue-multiplier: 10;
}
