
.icon {
  position: relative;
  padding: 1rem;
  font-size: 1rem;
  line-height: 1;
  background-color: rgb(70, 70, 247);
  text-decoration: none;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 1.4rem;
  color: white;
  display: inline-block;
}

/* style the first button */
.icon_left {
  padding-left: 3rem;
}

.icon_left::before,
.icon_right::after {
  content: " ";
  line-break: 1;
  background-image: url(../icon-facebook.png);
  vertical-align: middle;
  width: 1.5rem;
  height: 1.5rem;
  background-size: contain;
  position: absolute;
  border-radius: 50%;
  background-repeat: no-repeat;
  margin-top: -0.75rem;
  top: 50%;
}

 .icon_left::before {
  left: 0.75rem;
}

/* style the second button */
.icon_right {
  padding-right: 3rem;
}

.icon_right::after {
  right: 0.75rem;
}

.example:nth-child(5) a {
  background-color: purple;
}
