.progress_indicator {
  counter-reset: step;
}

.progress_indicator li {
  list-style: none;
  display: inline-block;
  padding: 1rem;
}

.progress_indicator li [href="#/steps/1/"]
.progress_indicator li .a11y {
  width: 25%;
  float: left;
  font-size: 12px;
  position: relative;
  color: white;
}

.progress_indicator li [href="#/steps/1/"]::before,
.progress_indicator li:nth-child(2) .a11y::before,
.progress_indicator li:nth-child(3) .a11y::before,
.progress_indicator li:nth-child(4) .a11y::before {
  width: 30px;
  height: 30px;
  content: counter(step);
  counter-increment: step;
  line-height: 30px;
  border: 2px solid rgb(110, 104, 104);
  display: block;
  text-align: center;
  margin: 0 auto 10px auto;
  border-radius: 50%;
  background-color: white;
}

.progress_indicator li {
  color: green;
}

.progress_indicator li .a11y ::before {
  content: " ";
  border-color: blue;
}

.progress_indicator li .a11y + li .a11y ::after {
  content: " ";
  background-color: blue;
}
