body > header {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

body > header a {
  color: white;
  line-height: 0rem;
}

main > header h2 {
  font-size: 4rem;
  line-height: 1rem;
}

body > header h1 {
text-align: left;
}
