/*
This element is most likely an anchor.
*/

.icon {
  width: 79px;
  height: 79px;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% 50%;
  border-radius: 50%;
  display: inline-block;
  text-indent: -9999px;
}

/*
we use the `href` of the anchor as the key to the source of the background image `url()`
*/

.icon[href^="https://twitter"] {
  background-image: url(../images/icon-twitter.png);
}

.icon[href^="https://facebook"] {
  background-image: url(../images/icon-facebook.png);
}

.icon[href^="https://github"] {
  background-image: url(../images/icon-github.png);
}
