body > nav {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 1rem;
  line-height: 1;
  margin-block-start: -3rem;
  margin-right: 4rem;
  margin-block-end: -7rem;
  text-align: right;
  text-transform: uppercase;
}

body > nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

body > nav li {
  display: inline;
  margin: 0 1rem;
}

body > nav a {
  color: rgb(255, 255, 255);
}

@media (min-width: 104rem) {
body nav {
  right: 50%;
  margin-right: -50rem;
  }
}
