/*
  We need the following numbering structure:

    1. Major clause `<h3>` separated by `<section>`s
      1.1. Clause (with a List) `<h4>` with a `<ol>` sibling
        1.1.a. List item `<li>`
        1.1.b. List item (with a List) `<li>` with a `<ol>` child
          1.1.b.i. Nested list item `<li>`
          1.1.b.ii. Nested list item `<li>`
          1.1.b.iii. Nested list item `<li>`
          1.1.b.iv. Nested list item `<li>`
          …
        1.1.c. List item `<li>`
        …
      1.2. Clause `<h4>`
      …
      1.13. Clause `<h4>`
    2. Major clause `<h3>` in a new `<section>`
    …
*/

body {
counter-reset: section;
max-lines: 80;
font-size: 1rem;
}

section > h3:before {
  counter-increment: section;
  content: counter(section) ". ";
}

section > h3 {
counter-reset: subsection;
}

section > h4:before {
  counter-increment: subsection;
  content: counter(section) "."
           counter(subsection) ". ";
}

section {
  counter-reset: ordered-list;
}

section > ol:before {
  counter-increment: ordered-list;
  content: counter(section) "."
           counter(subsection) ". "
           counter(ordered-list, lower-alpha) ". ";
}

section > ol {
  counter-reset: list;
}

ol > li:before {
  counter-increment: list;
  content: counter(section) "."
           counter(subsection) ". "
           counter(ordered-list, lower-alpha) ". "
           counter(list, lower-roman) ". ";
}
 ol {
   list-style: none;
 }
