/* header */
body{
 border-color: red;
 margin: 1rem;
}
header,
main,
td,
footer {
  background-color: orange;
}

span {
  border: solid;
}

h1 {
  border-color: red;
  border: solid;
  border-width: 1rem;
  padding: 1rem;
}

header {
  padding: 1rem;
  margin-block-start: 1rem;
  margin-block-end: 1rem;
}

/* main */
main {
  padding: 2rem 1rem;
}

/* first tr */
tr:first-child td:nth-child(1) {
  padding-right: 1rem;
}

tr:first-child td:nth-child(2) {
  padding-right: 1rem;
  padding-left: 1rem;
}

tr:first-child td:nth-child(3) {
  padding-left: 1rem;
}


/* second tr */
tr:nth-child(2) td:nth-child(1) {
  padding-right: 1rem;
}

tr:nth-child(2) td:nth-child(2) {
  padding-right: 1rem;
  padding-left: 1rem;
}

tr:nth-child(2) td:nth-child(3) {
  padding-left: 1rem;
}

/* third tr */
tr:nth-child(3) td:nth-child(1) {
  padding-right: 1rem;
}

tr:nth-child(3) td:nth-child(2) {
  padding-right: 1rem;
  padding-left: 1rem;
}

tr:nth-child(3) td:nth-child(3) {
  padding-left: 1rem;
}


/* footer */
footer {
  padding: 1rem;
  margin: 1rem 0rem;
}

footer > span {
  border-width: 1rem;
  display: block;
}

/* span */
tr:nth-child(1) span {
  border-width: 0rem 0rem 1rem 0rem;
}

tr:nth-child(2) span {
  border-width: 1rem 0rem 1rem 0rem;
}

tr:nth-child(3) span {
  border-width: 1rem 0rem 0rem 0rem;
}
