/* header */
body{
 border-color: orange;
 margin: 1rem;
}

span {
  border: solid;
}

h1 {
  border-color: orange;
  border: solid;
  border-width: 1rem;
  padding: 1rem;
}

header {
  padding: 1rem 2rem;
  margin-block-end: 1rem;
}

/* main */
main {
  padding: 2rem 1rem;
}

/* first tr */
tr:first-child td:nth-child(1) {
  padding-right: 1rem;
}

tr:first-child td:nth-child(2) {
  padding-right: 1rem;
  padding-left: 1rem;
}

tr:first-child td:nth-child(3) {
  padding-left: 1rem;
}


/* second tr */
tr:nth-child(2) td:nth-child(1) {
  padding-right: 1rem;
}

tr:nth-child(2) td:nth-child(2) {
  padding-right: 1rem;
  padding-left: 1rem;
}

tr:nth-child(2) td:nth-child(3) {
  padding-left: 1rem;
}

/* third tr */
tr:nth-child(3) td:nth-child(1) {
  padding-right: 1rem;
}

tr:nth-child(3) td:nth-child(2) {
  padding-right: 1rem;
  padding-left: 1rem;
}

tr:nth-child(3) td:nth-child(3) {
  padding-left: 1rem;
}

/* footer */
footer {
  padding: 1rem;
  margin: 1rem 0rem;
}

footer > span {
  border-width: 1rem;
  display: block;
}

/* span */
tr:nth-child(1) span {
  border-block-start: solid 1rem;
}

tr:nth-child(2) span {
  border-block-start: solid 1rem;
  border-block-end: solid 1rem;
}

tr:nth-child(3) span {
  border-block-start: solid 1rem;
}
