.icon {
  display: block;
  width: 60px;
  height: 60px;
  background-position: 50% 50%;
  background-size: contain;
  background-repeat: no-repeat;
  text-indent: -999rem;
  border-radius: 50%;
}

.icon[href^="https://facebook"] {
  background-image: url(../images/icon-facebook.png);
}
.icon[href^="https://twitter"] {
  background-image: url(../images/icon-twitter.png);
}
.icon[href^="https://github"] {
  background-image: url(../images/icon-github.png);
}

a.icon {
  transition: transform .2s ease-in-out;
  transform: scale(1);
}

a.icon:hover {
  transform: scale(1.2);
}
