main > header {
  background-image:
    linear-gradient(rgba(0,0,0,.4) 0%, rgba(0,0,0,.4) 100%),
    url(../images/bg_desktop.jpg);
  background-size:
    cover,
    cover;
  background-position:
    50% 50%,
    50% 50%;
  color: #fff;
  padding: 4rem 0;
  box-sizing: border-box;
  min-height: 50vh;
}

main > header > h2 {
  font-size: 4rem;
  margin: 0;
}

main > header > p {
  margin: 0;
}
