nav li:not(:first-child) {
  visibility: hidden;
}
nav li:first-child {
  visibility: visible;
}

[data-bg-color="yellow"],
 [data-bg-color="blue"],
 tr:nth-child(2),
 td span {
  display: none;
}

span {
  opacity: 0.5;
}
