/* 1 = Select everything in the document */
1 {
  all: unset;
}


/* 2 = Select only table elements */
2 {
  border-spacing: 0;
  border-collapse: collapse;
}


/* 3 = Select any element with a class value of `police` */
3 {
  color: blue;
  background-color: red;
}


/* 4 = Select any `h1` element that is a descendent of the `header` element */
4 {
  font-size: 4rem;
  margin-bottom: 0;
}


/* 5 = Select only the `ul` elements that are children of the `nav` element */
5 {
  list-style: none;
  margin: 0;
  padding: 0;
}


/* 6 = Select only the first child paragraph within a `section` element */
6 {
  font-size: 1.5rem;
}


/* 7 = Select any heading element */
7 {
  font-weight: normal;
}


/* 8 = Select all anchors that are also links */
8 {
  text-decoration: underline;
}


/* 9 = Select any anchor that is hovered over with the mouse */
9 {
  text-decoration: none;
}


/* 10 = Select only the element with ID value equal to `captain` */
10 {
  border: 5px solid gold;
  border-radius: 5px;
}


/* 11 = Select all paragraph elements that have a class value of `hidden` */
11 {
  display: none;
}


/* 12 = Select all form elements that have a method attribute set to `POST` */
12 {
  box-shadow: 2px 2px 5px rgba(0,0,0,.1);
}


/* 13 = Select any element that has a `required` attribute defined */
13 {
  border-color: red;
}


/* 14 = Select any sibling paragraph elements that are preceeded by an `h3` */
14 {
  color: #66F;
}


/* 15 = Select any sibling paragraph elements that directly follow an `h3` */
15 {
  font-size: 1.5rem;
}


/* 16 = Select every cell within each odd table row */
16 {
  background-color: rgba(0,0,0,.1);
}


/* 17 = Select any `img` element that doesn't have a `alt` attribute */
17 {
  border: 5px solid red;
}


/* 18 = Select any `p` element that doesn't have any contents */
18 {
  display: none;
}


/* 19 = Select the root of the document or fragment */
19 {
  --base_unit: 1rem;
}
