section:nth-of-type(3) .container {
  width: 200px;
  height: 200px;
  position: relative;
}

section:nth-of-type(3) .container .rect,
section:nth-of-type(3) .container .pipe,
section:nth-of-type(3) .container .bar {
  position: absolute;
  top: 25%;
  left: 25%;
  width: 50%;
  height: 50%;
}
