section:nth-of-type(1) .container {
  width: 200px;
  height: 200px;
  position: relative;
}

section:nth-of-type(1) .example .circle,
section:nth-of-type(1) .example .rect,
section:nth-of-type(1) .example .pipe,
section:nth-of-type(1) .example .bar {
  position: absolute;
  width: 25%;
  height: 25%;
}
/* position vertical */
section:nth-of-type(1) .example .circle,
section:nth-of-type(1) .example .pipe {
  bottom: 0%;
}

/* position horizontal */
section:nth-of-type(1) .example .bar,
section:nth-of-type(1) .example .circle {
    right: 0%;
}
