section:nth-of-type(2) .container {
  width: 200px;
  height: 200px;
  overflow: hidden;
  position: relative;
}

section:nth-of-type(2) .circle:nth-of-type(1),
section:nth-of-type(2) .circle:nth-of-type(2),
section:nth-of-type(2) .circle:nth-of-type(3),
section:nth-of-type(2) .circle:nth-of-type(4) {
  position: absolute;
  width: 200px;
  height: 200px;
}

/* Position vertical (top) */
section:nth-of-type(2) .circle:nth-of-type(1),
section:nth-of-type(2) .circle:nth-of-type(3) {
top: -50%;
}

/* position vertical (bottom) */
section:nth-of-type(2) .circle:nth-of-type(2)/* first from the bottom */,
section:nth-of-type(2) .circle:nth-of-type(4)/* last from the bottom */ {
  bottom: -50%;
}

/* position horizontal (left and right) */
section:nth-of-type(2) .circle:nth-of-type(1)/* first from the top */,
section:nth-of-type(2) .circle:nth-of-type(2)/* first from the bottom*/ {
  left: -50%;
}

section:nth-of-type(2) .circle:nth-of-type(3)/* last from the top */,
section:nth-of-type(2) .circle:nth-of-type(4)/* last from the bottom */ {
  right: -50%;
}
